{% extends 'base.html.twig' %}

{% block title %}Condition d'utilisation{% endblock %}

{% block body %}
    <h1>Conditions d'Utilisation - PERT Finder</h1>

    <p>Bienvenue sur PERT Finder, une application de gestion de projets basée sur la méthode PERT. Avant de créer un compte, veuillez prendre le temps de lire attentivement et comprendre nos conditions d'utilisation. En accédant et en utilisant cette application, vous acceptez les termes décrits ci-dessous.</p>

    <ol>
        <li>
            <h2>Inscription et Compte:</h2>
            <ul>
                <li>L'utilisateur est responsable de fournir des informations exactes et à jour lors de l'inscription, notamment un pseudo, une adresse e-mail valide et un mot de passe sécurisé.</li>
                <li>L'utilisateur est tenu de protéger son mot de passe et de ne pas partager ses informations d'identification avec des tiers.</li>
            </ul>
        </li>

        <li>
            <h2>Utilisation de l'Application:</h2>
            <ul>
                <li>L'utilisateur s'engage à utiliser l'application conformément aux lois en vigueur et aux présentes conditions d'utilisation.</li>
                <li>L'utilisateur ne doit pas engager d'activités qui pourraient compromettre la sécurité ou l'intégrité de l'application.</li>
            </ul>
        </li>

        <li>
            <h2>Protection des Données:</h2>
            <ul>
                <li>PERT Finder s'engage à protéger la vie privée des utilisateurs. Consultez notre <a href="#politique-confidentialite">Politique de Confidentialité</a> pour plus d'informations sur la collecte, l'utilisation et la protection des données personnelles.</li>
            </ul>
        </li>

        <li>
            <h2>Contributions et Contenu Utilisateur:</h2>
            <ul>
                <li>Les contributions des utilisateurs, telles que les données de projet, demeurent la propriété de l'utilisateur.</li>
                <li>L'utilisateur accepte que PERT Finder puisse utiliser ces contributions pour améliorer l'application et fournir des fonctionnalités supplémentaires.</li>
            </ul>
        </li>

        <li>
            <h2>Suppression de Compte:</h2>
            <ul>
                <li>En cas de demande de suppression de compte, l'administrateur dispose de 48 heures pour confirmer la suppression. La suppression sera effectuée de manière à pseudonymiser les données de l'utilisateur tout en conservant les contributions.</li>
            </ul>
        </li>

        <li>
            <h2>Responsabilités de l'Utilisateur:</h2>
            <ul>
                <li>L'utilisateur est responsable de la sécurité de son compte et de ses activités sur l'application.</li>
                <li>L'utilisateur s'engage à ne pas perturber le bon fonctionnement de l'application.</li>
            </ul>
        </li>

        <li>
            <h2>Modifications des Conditions:</h2>
            <ul>
                <li>PERT Finder se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les utilisateurs seront informés des modifications importantes.</li>
            </ul>
        </li>

        <li>
            <h2>Résiliation:</h2>
            <ul>
                <li>PERT Finder se réserve le droit de résilier ou suspendre un compte en cas de non-respect des conditions d'utilisation ou de comportement inapproprié.</li>
            </ul>
        </li>
    </ol>

    <p>En créant un compte sur PERT Finder, vous acceptez ces conditions d'utilisation. Pour toute question ou préoccupation, veuillez nous contacter à <a href="admin@pertfinder.com">support@example.com</a>.</p>

{% endblock %}
    
