{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="homeContainer">
        <div class="row">
            <div class="col-12">
                <h2>Bienvene</h2>
                <h3>PertFinder Application</h3>
                <p class ="grandP">Le PERT, ou Program Evaluation and Review Technique 
                <a style="color: blue; text-decoration: none; " 
                 href="">En savoir plus</a>
                </p>
            <div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="{{ asset('img/pert.gif') }}" alt="pert" class="left-photo">
                <p class="petitP">Découvrez la puissance des diagrammes PERT avec PertFinder</p>
                <a href="" class="btn">Commencez</a>
            </div>
            <div class="col-6">
                <img src="{{ asset('img/pert-right.jpg') }}" alt="pert" class="right-photo">
                <p class="petitP">Charger et discuter des projets créés par d'autres utilisateurs</p>
                <a href="" class="btn">Allons-y !</a>
            </div>
        </div>
    </div>
{% endblock %}
    
