{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="homeContainer">
        <div class="row">
            <div class="col-12">
                <h2>Bienvene</h2>
                <h3>PertFinder Application</h3>
                <p class ="grandP">Le PERT, ou Program Evaluation and Review Technique, est une méthodologie puissante pour la gestion 
                de projet. Notre PERT Finder est votre outil incontournable pour planifier, suivre et optimiser vos projets.
                Créez des diagrammes PERT en quelques clics, visualisez les tâches, établissez des dépendances, et suivez les jalons.
                Prenez le contrôle de votre gestion de projet avec une solution simple et efficace. Découvrez comment le 
                PERT peut vous aider à livrer vos projets à temps et dans le respect du budget. Commencez dès aujourd'hui !</p>
            <div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="{{ asset('img/pert.gif') }}" alt="pert" class="left-photo">
                <p class="petitP">Découvrez la puissance des diagrammes PERT avec PertFinder</p>
                <a href="" class="btn">Commencez</a>
            </div>
            <div class="col-6">
                <img src="{{ asset('img/pert-right.jpg') }}" alt="pert" class="right-photo">
                <p class="petitP">charger et discuter des projets créés par d'autres utilisateurs</p>
                <a href="" class="btn">Allons-y !</a>
            </div>
        </div>
    </div>
{% endblock %}
    
