* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #fcf9f9;
    display: flex;
    flex-direction: column;
}
.logo{
    width:80px;
    height: 60px;
    float: left;
    position: fixed;
    
}

header{
    width: 100%;

    float: left;
}

.info-para{
    width:100%;
    height:auto;
    margin-top: 60px;
}
.info-para li{
    
    margin-top: 10px;
    font-size: 20px;
    color: #E67E22;
    font-weight: semi-bold;
}
.info-para span{
    color: rgb(60, 0, 255);
    font-weight: bold;
}
/* ============================================== */
/* Navigation Bar */
.topnav li {
    display: inline;
    
  }
  .topnav {
    overflow: hidden;
    background-color: #fcf9f9;
  }
  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    overflow: hidden;
    background-color: #fcf9f9;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #1ABC9C;
    
}
  
  .topnav a {
    float: right;
    display: inline-block;
    /* color: #1ABC9C; */
    color: #159279;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left:30px;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav a:hover{
    color: #E67E22;
    cursor: pointer;
    padding: 14px 14px;
    text-decoration: none;
    margin-left:30px;
    font-size: 17px;
    border-radius: 10px;
    border: 2px solid #E67E22;
    
}
.activated a{
    color: #E67E22;
    cursor: pointer;
}
.topnav a:active {
    box-shadow: 0 0;
    transform: translateY(4px);
  }



/* ============================================== */

/* the forms  */

.form-group{
    padding : 15px;
    width:400px;
    height: auto;
    border: 2px solid #1ABC9C;
    border-radius: 20px;
    box-shadow: 5px 10px #1ABC9C;
    margin: auto;
    margin-top: 150px;
    
    background-color: white;
    position: relative;
}

.form-group h2{
    text-align: center;
    color: #E67E22;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto; 
}
.form-input{
    width: 300px;
    height: 30px;
    border-radius:10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: semi-bold;
    color: black;
    background-color: rgb(26, 188, 156, 0.14);
}
::placeholder{
    color:rgba(0, 0, 0, 0.705);
    font-size: 15px;
    text-align: center;
    opacity: 0.5;
}
.form-check-input{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.form-group .btn{
    margin-left: 100px;
}


.agree-terms{
    margin-left: 40px;
    font-size: 16px;
    color: #1ABC9C;
}

.compte{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1ABC9C;
}

/* ============================================== */

/* footer */

footer{
    width: 100%;
    height: 100px;
    background-color: #1ABC9C;
    margin-top: 100px;
    float: left;

}

footer .list{
    width: 27%;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
footer a:hover{
    color: #E67E22;
}

/* ============================================== */

/* the buttons */
.btn{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    border: #E67E22;
    background-color: #E67E22;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 50px;
    transition-duration: 0.4s;
    margin-top: 20px;
    box-shadow: 0 5px rgba(230, 125, 34, 0.447);
}
.btn:hover{
    background-color: white;
    color:#E67E22;
    border: 2px solid #E67E22;
    cursor: pointer;
}
.btn:active {
    box-shadow: 0 0;
    transform: translateY(4px);
}

.btn-danger{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    border: red;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 50px;
    transition-duration: 0.4s;
    margin-top: 20px;
    box-shadow: 0 5px rgba(230, 34, 34, 0.306);
}
.btn-danger:hover{
    background-color: white;
    color:red;
    border: 2px solid red;
    cursor: pointer;
}
.btn-primary{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    border: #1ABC9C;
    background-color: #1ABC9C;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 50px;
    transition-duration: 0.4s;
    margin-top: 20px;
    box-shadow: 0 5px rgba(26, 188, 156, 0.306);
}
.btn-primary:hover{
    background-color: white;
    color:#1ABC9C;
    border: 2px solid #1ABC9C;
    cursor: pointer;
}
.delete-bin{
    width:25px;
    height:20px;
}

.edit-pen{
    width:25px;
    height:20px;
}
.lock, .unlock{
    width:25px;
    height:20px;
}
.lock:hover, .unlock:hover{
    cursor: pointer;
}
.projet-option-btn{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    border: #f5bd8d;
    background-color: #ada9a5;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    transition-duration: 0.4s;
    margin-top: 20px;
    box-shadow: 0 5px rgba(230, 125, 34, 0.447);
}
.projet-option-btn:hover{
    background-color: white;
    color:#E67E22;
    border: 2px solid #E67E22;
    cursor: pointer;
}
.projet-option-btn:active{
    box-shadow: 0 0;
    transform: translateY(4px);
}

/* ============================================== */
/* home page */
.homeContainer h2{
    width: 100%;
    margin-top: 100px;
    float: left;
    margin-top:40px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    color: #E67E22;
}
.homeContainer h3{
    width: 100%;
    padding:0;
    margin-top:3px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #1ABC9C;
}
.left-photo{
    width:100%;
    height: 380px;
}
.right-photo{
    width:100%;
    height: 380px;
}
.homeContainer h5{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #E67E22;
}
.petitP {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: #1ABC9C;
}
.homeContainer .btn{
    margin-left: 140px;
    margin-top: 0;
    width:50%;
}

/* Apply styles to the section with the class "home-description" */
.home-description {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}




/* ============================================== */

/* project form */

.project-form{
    width: 80%;
    height: 100%;
    /* margin-left:150px; */
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fcf9f9;
}
.project-form h2{
    text-align: center;
    color: #E67E22;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto; 
}

.form-textArea{
    margin-top:20px;
    width:320px;
    height: 140px;
    position: relative;
    font-size: 20px;
}


.project-form .btn, .task-form-container .btn{
    margin-left: 160px;
    width: 60%;
}

.project-form-input, .chart-form-input{
    width: 300px;
    height: 30px;
    border-radius:10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    /* margin-left: 40px; */
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    font-weight: semi-bold;
    color: black; 
}
.project-form .required{
    color: black;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 50px;
}
.project-form .required::after{
    content: " *";
    color: red;
}
.project-form .form-row{
    height: 80px;;
    margin-left: 40px;
}

.chart-form-textArea{
    width:70%;
    height: 140px;
    font-size: 20px;
    margin-left: 100px;
}

.chart-btn{
    margin-top: 20px;
}
.chart-form-input{
    width: 70%;
    height: 30px;
    border-radius:10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    margin-left: 100px;    
    padding-left: 20px;
    font-size: 20px;
    font-weight: semi-bold;
    color: black; 
}
/* ============================================== */


/* ============================================== */
/* project list */

.list-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fcf9f9;
}
.box-row{
    width: 75%;
    height:auto;
    margin:auto;
    margin-top:15px;
    border: 2px solid #1ABC9C;
    background-color: white;
}
.image{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 100px;
    margin-top: 0px;
    
}

.list-projects h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    width:80%;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #1ABC9C;
}
.box-row a{
    float:right;
    margin-top: 0px;
    margin-right: 10px;
    margin-left:3px;
    text-decoration: none;
    margin-bottom: 0px;
    color:#1ABC9C;
}
.box-row a:hover{
    color: #E67E22;
    cursor: pointer;
}

.list-projects p{
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 10px;
    margin-right:10px;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #E67E22;
}


/* ============================================== */
/* Show projet */
.project-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    
}
.project-container img{
    width: 900px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-project{
   align-self: center;
}

/* .show-project h1{
    text-align: center;
    color: #E67E22;
    font-size: 30px;
    font-weight: bold;
}
.show-project p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
} */
.project-description {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    height: auto;
}

/* Style the heading inside the section */
.project-description h1 {
    color: #E67E22;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Style the paragraph inside the section */
.project-description p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
.show-project p span{
    color: #1ABC9C;
    font-weight: bold;
}
.show-project h5{
    text-align: left;
    color: #1ABC9C;
    font-size: 18px;
    font-weight: semi-bold;
}


/* ============================================== */



.demande-connexion{
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fcf9f9;
}

.creat-projet{
    margin-bottom: 0px;
    float: right;
    margin-right: 180px ;
}

/* ================================================== */

/* task form */

.task-form-container{
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #fcf9f9;
    border: 2px solid #1ABC9C;

}
.task-form-container h2, .task-list h2{
    text-align: center;
    color: #E67E22;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.task-form-input{
    width: 250px;
    height: 25px;
    border-radius:10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    margin-top: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: semi-bold;
    color: black;
}

.task-form .required{
    color: black;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.task-form .required::after{
    content: " *";
    color: red;
}
.task-form .form-row{
    height: 70px;;
    margin-left: 60px;
}
.task-form-textArea{

    width:100%;
    height: 70px;
    font-size: 20px;

}
.task-form .btn{
    margin-top: 0px;
}

.task-form p{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    margin-left: 80px;
    color:red;
}

.form-errors{
    width: auto;
    height: auto;
    color:red;
    text-align: center;
    font-size: 20px;
}


/* ============================================== */

/* Alert */

.alert {
    margin-top: 20px;
    font-size: 24px;
    font-weight: semi-bold;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
.alert-messages{
    margin-top: 8px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============================================== */

/* Tasks table */

.task-list{
    height: auto;
    position:relative;
}
/* .table-scroll{
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
} */

.task-table{
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    border: 1px solid #1ABC9C;
}
.task-table th, td{
    border: 2px solid white;
    text-align: center;
}
.task-table th{
    background-color: #BEF5EB;
    font-family: 'Courier New', Courier, monospace;
    font-weight: semi-bold;
}
.task-table tr:nth-child(even) {
    background-color: white;
}

.matrix{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: #fcf9f9;
    border: 2px solid #1ABC9C;
}

.petit-btn{
    background-color: #6fe2cb;
    border-radius: 20px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 2px #1ABC9C ;
}
.petit-btn:hover{
    background-color: #1ABC9C;
    border-radius: 20px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 2px #1ABC9C ;
    cursor: pointer;
}
.petit-btn:active {
    box-shadow: 0 0;
    transform: translateY(4px);
  }

/* ============================================== */
/* comments */

.show-comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 4px;
    background-color: #fcf9f9;
    border: 2px solid #1ABC9C;
}
.show-comment h2 {
    text-align: center;
    color: #E67E22;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.comment-connecxion p{
    text-align: center;
    font-size: 20px;
    color: #E67E22;
    font-weight: bold;
}
.comment-connecxion a{
    text-decoration: none;
    color: #1ABC9C;
    margin-left:460px;
    font-size: 20px;
    font-weight: bold;
}
.comment{
    width: 900px;
    height: auto;
    align-self: center;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 2px solid #E67E22;
}
.comment img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.post-comment{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.post-comment textarea{
    width: 900px;
    height: 100px;
    align-self: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    padding-left: 20px;
    font-size: 20px;
    font-weight: semi-bold;
    color: black;
}

.post-comment .btn{
    width:30%;
    
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 9px;
}
.comment p{
    width: 50%;
}

.comment .delete-bin{
    width:30px;
    height:30px;
}
.comment .edit-pen{
    width:30px;
    height:30px;
}
.comment a{
    text-decoration: none;
    color: #1ABC9C;
}
.comment a:hover{
    color: #E67E22;
    cursor: pointer;
}
.comment a:active {
    box-shadow: 0 0;
    transform: translateY(4px);
  }
  .comment a:visited{
    color: #1ABC9C;
}
/* ============================================== */
/* user-info */
/* General styling for user rows */
.user-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

/* Styling for user information section */
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.user-info h1 {
    color: #E67E22;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
}

/* Common styling for user image and settings */
.user-img,
.user-settings img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 40px;
    display: block;
}
.user-settings img {
    margin-left: 10px;
}
.img-div{
    height: auto;
    padding: 0%;
}
.btn-avatar a{
    color:black;
}
/* Styling for user profile section */
.user-pro {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.user-pro h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.user-pro ul {
    list-style-type: none;
    padding: 0;
}

.user-pro li {
    margin-bottom: 8px;
}

.user-pro-hidden span {
    font-style: italic;
    color: #837aa4;
}

/* Styling for links */
.user-row a,
.user-pro a {
    text-decoration: none;
    color: #1ABC9C;
}

.user-row a:hover,
.user-pro a:hover {
    cursor: pointer;
    color: #E67E22;
}

.user-info a:visited,
.user-pro a:visited {
    color: #1ABC9C;
}

.user-info a:hover {
    color: #E67E22;
    cursor: pointer;
}

.user-info a:active {
    box-shadow: 0 0;
    transform: translateY(4px);
}

.user-info a {
    text-decoration: none;
}

/* Styling for image button */
.img-btn {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-top: 150px;
}

/* Styling for user information heading */
.user-info h2 {
    color: #E67E22;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 160px;
}

/* Styling for user settings section */
.user-settings {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #1ABC9C;
    box-shadow: 0 4px #1abc9c82;
}

/* Styling for user information container */
.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}

/* Styling for user coordinates section */
.user-coordonne {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Styling for user table */
.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    padding: 10px;
    width: 300px;
    border: 2px solid #312f2f83;
}

.user-table th {
    padding-right: 20px;
    border: none;
}

.user-table td {
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table td:first-child {
    border-left: 1px solid #ccc;
}

.user-row-hidden {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.user-row-hidden h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #E67E22;
    text-align: center;
    width: 100%;
}

.user-pro-hidden {
    display: flex;
}

.project-list,
.comment-list {
    list-style-type: none;
    padding: 0;
}

.project-list li,
.comment-list li {
    margin-right: 20px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-list li::after,
.comment-list li::after {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: rgba(26, 188, 156, 0);
    transition: background 0.3s ease;
}

.project-list li:hover,
.comment-list li:hover {
    background-color: #1ABC9C;
}

.project-list li:hover::after,
.comment-list li:hover::after {
    background: rgba(26, 188, 156, 0.5);
}

.no-content {
    font-style: italic;
    color: #888;
}

.project-list a,
.comment-list a {
    text-decoration: none;
    color: #333;
}

.project-list a:hover,
.comment-list a:hover {
    color: #fff;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-container button, .btn-mod-profil, .btn-avatar{
    margin-right: 20px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.about-me {
    text-align: center;
    margin-top: 20px;
}

.about-me form {
    margin-top: 10px;
}

.about-me p {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}
.about-me p::first-letter {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: semi-bold;
    margin-right: 4px;
}
#user_propos {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    resize: vertical;
}

#user_propos:focus {
    outline: none;
    border-color: #1ABC9C;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.7);
}

/* ============================================== */
/* form change */

.edit-btn{
    background-color: #6fe2cb;
    border-radius: 20px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 2px #1ABC9C ;
}
.edit-btn:hover{
    background-color: #1ABC9C;
    border-radius: 20px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 2px #1ABC9C ;
    cursor: pointer;
}
.edit-btn:active {
    box-shadow: 0 0;
    transform: translateY(4px);
  }

  .form-change{
    width: 300px;
    height: 30px;
    border-radius:10px;
    border: 2px solid #1ABC9C;
    box-shadow: 0 5px #1ABC9C ;
    margin-top: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: semi-bold;
    color: black;
  }


/* ============================================== */
 /* control panel */

 .user-info-panel h1{
    
    color: #E67E22;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
 }

 .user-info-panel h3{
        color: #1ABC9C ;
        font-size: 20px;
        font-weight: bold;
 }

 .user-info-panel a:visited{
    color: #1ABC9C;
    
 }
    .user-info-panel a:hover{
        color: #E67E22;
        cursor: pointer;

    }
/* ============================================== */
/* admin edit user */
/* Style for the admin-edit-row container */
.admin-edit-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcf9f9;
    color: black;
}

/* Style for the admin-edit-panel */
.admin-edit-panel {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

/* Style for the welcome message */
.admin-edit-panel h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #1048ba;
}

/* Style for the col-6 div */
.admin-edit-panel .col-6 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Style for the roles */
.admin-edit-panel .col-6 span {
    font-weight: bold;
    color: #61dafb;
}

/* Style for the form */
.admin-edit-panel form {
    margin-top: 20px;
}
/* Style for the <p> elements */
.admin-edit-panel .col-6 p {
    margin-bottom: 13px;
    font-size: 16px;
}

/* ============================================== */
/* image-grid in the home page */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    grid-gap: 20px;
}

.responsive-img-grid {
    padding: 0 6px;
    float: left;
    
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery {
    border: 1px solid #ccc;
    width: 400px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 400px;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}
.gallery a{
    cursor: pointer;
}

/* ============================================== */
/* dates table */
.row-dates {
    display: flex;
    flex-direction: column;
    margin-top:70px;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text within each element */
    height: 100vh; /* Set the height to 100% of the viewport height */
}

.row-dates h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #E67E22;
    text-align: center;
}

.dates {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

.dates th, .dates td {
    border: 1px solid #ddd;
    padding: 8px;
    
}

.dates th {
    background-color: #f2f2f2;
}

.dates tr:hover {
    background-color: #f5f5f5;
}
.vocab {
    max-width: 800px; 
}

/* Add a class for the wider table */
.wider-table {
    width: 100%; /* Make the table 100% width */
}
.dates td.task-name {
    color: blue;
}

.dates th{
    color: #156756;
}

/* ============================================== */

/* messages */

.grid-message{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


/* ============================================== */
