<h1> Votre demande de suppression a bien été prise en compte</h1>
        
        <p> bonjour {{ user.username }} </p>
        <p> 
        votre compte a bien été pseudomizé, vous ne pourrez plus vous connecter avec votre ancien pseudo.
        </p>
