{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <header>
        <h1>messenger</h1>
    </header>
    <main class="message-container">
        <h2>Messages</h2>
        <div class="grid-message" id="messages">
            <article>test message</article>
            <article>test message</article>
            <article>test message</article>
            <article>test message</article>
            <article>test message</article>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form.contenu) }}
        {{ form_end(form) }}
{% endblock %}
