<h1> Vous avez reçu une réponse à votre message</h1>
<p> Bonjour {{user.username}} </p>
<p> Un administrateur a répondu à votre message. </p>
<p> Vous pouvez consulter la réponse en cliquant sur le lien suivant : <a href="{{path('respond_message', {'messageId': message.id})}}">La Réponse</a></p>
<p> Cordialement, </p>