{% extends 'base.html.twig' %}

{% block title %}channels home page{% endblock %}

{% block body %}
<div class="channel-row row">  
    {% if app.user %}  
        <div class="col-6">  
           <h3> You are logged in as <span>{{ app.user.username }}</span> </h3>
        </div>  
    {% endif %}  
    {% if channels %}  
        <h2>Which chan do you want to join ?</h2>  
        <table class="table table-striped">  
            <tbody>  
            {% for channel in channels %}  
                <tr class="">  
                    <th>  
                        <span>{{ channel.name }}</span>  
                        <a class="btn btn-primary float-right" href="{{ path('chat', {id: channel.id}) }}">Go chat !</a>  
                    </th>  
                </tr>  
            {% endfor %}  
            </tbody>  
        </table>  
    {% else %}
        <div>
            <div class="alert alert-danger text-center">No Channels found.</div>
        </div>
    {% endif %}
</div>
{% endblock %}
